p{
    font-family: "Lucida Console", "Courier New", monospace;
    
    color: #8b008b;

}
vermelho{
    color: #FF0000
}
rosa{
    color: #FF1493

}

body{
    background-color:#DDA0DD;
    text-align: center;
    margin: 100px 40px 10px 70px;
}

h1{
    color:#8b008b;
    font-family: 'Allura';
    border-width: thick;
    border-style: dashed;
    border-color:#42961b;
}
h2{
    color:#c71585;
    font-family: 'Dancing Script';

    border-top-width: thick;
    border-top-style: double;
    border-top-color: red;

    border-bottom-width: thin;
    border-bottom-style: solid;
    border-bottom-color: blue;

    border-right-width: medium;
    border-right-style: groove;
    border-right-color: green;

    border-left-width: thick;
    border-left-style: ridge;
    border-left-color: orange;
}

img{
    width: 500px;
    
}
.whitewine{
    color: yellow;
}
.redwine{
    color: red;
}
#c1{
    color: #888888;
}
#c1-1{
    color: #789654;
}
#c1-2{
    color:#c71585;

}
.rosas{
    color:#ff1493;
    background-color: #f08080;

}
#rosinha{
    color:#C71585;
    background-color: #db7093;
}
.fundopreto{
    color: #FFFFFF;
    background-color:#000000; 
}
#fundoamarelo{
    color: #FF0000;
    background-color: #FFFF00;
}
.morango{
    font-size: 25px;
    color: #483D8B;
}
#melancia{
    font-size: 40px;
    color: #8B0000;
}